html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  color: #fff;
  background-color: #333;
  display: inline-block;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em .75em .3em;
  border-style: solid;
  border-color: #333;
  font-size: 1.125rem;
}

.btn:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.btn-subtle {
  background-color: #ccc;
}

.btn-ghost {
  background-color: #fff;
}

.btn-warning {
  background-color: #f33;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-small {
  font-size: .875rem;
}
